{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "shippedProposals": true,
                "ignoreBrowserslistConfig": true
            }
        ]
    ]
}
